<p style="color: green"><%= notice %></p>

<h1>Quizzes</h1>

<div id="quizzes">
  <% @quizzes.each do |quiz| %>
   
    <p>
      <%= link_to "#{quiz.name}", quiz %>
    </p>
  <% end %>
</div>

<%= link_to "Create new Quiz", new_quiz_path %>
