<div style="background: lightgrey; width: 300px; padding: 10px;">
    Question: <%= prompt.question %>
    <br>
    Answer: <%= prompt.answer %>
    <br>
    Quiz id:<%= prompt.quiz_id %>
    <%= link_to :edit, edit_prompt_path(prompt) %>
</div>
