<h1>ZebraFish</h1>
<p>A place for prompts and quizzes</p>
<%= link_to "Take a quiz", quizzes_path %>


<h2>Trending Quizzes</h2>
<li>States of America<li>
<li>Countries in Europe<li>
<li>Types of Rice<li>